/basics.el
/utils.el

# everything that could/would be re-generated
/*.*~
/recentf
/projectile.cache
/projectile-bookmarks.eld
/elpa/*
/ac-comphist.dat
/auto-save-list/
/orgmode.el
/recentf~
/ui.el
/blog.el
